<div class="col-xl-12 bottom-15 pl-0 pr-0 each-page-content">
    <div widget class="card col-xs-12 zeroPadding float-left">
        <div class="card-header custom-style-header">
            <div class="row col-xs-12">
                <div class="col-xs-3 pr-0 zeroPadding">
                    <select id="rowpage" class="form-control input-sm" style="width: 22%;display: inline-block;" [(ngModel)]="rowsOnPage" (change)="ngOnInit();">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="40">40</option>
                        <option [ngValue]="100">100</option>
                    </select>
                    <label class="label-control">records per page</label>
                </div>
                <div class="col-md-9 zeroPadding" style="text-align: right">
                    <button class="btn btn-primary runCampBtn" (click)="launchNewCamp()">Launch New Campaign</button>

                </div>
            </div>
        </div>
        <div class="table-block card-block widget-body">
            <div class="container-fluid pl-0 pr-0">
                <div class="col-xs-12 col-md-12 col-lg-12 pl-0 pr-0">

                    <div class="panel panel-default">
                        <table class="table table-hover">
                            <thead class="thead">
                                <tr>
                                    <th style="width: 7%;text-align: center">#</th>
                                    <th style="width: 9%;text-align: center">Start Date</th>
                                    <th style="width: 9%;text-align: center">End Date</th>
                                    <th style="width: 9%;text-align: center">Date</th>
                                    <th style="width: 20%;cursor: pointer;">Campaign Title</th>
                                    <th style="width: 13%;text-align: center">City</th>
                                    <th style="width: 14%;text-align: center">Country</th>
                                    <th style="width: 11%;text-align: center">No Of Targeted Users</th>
                                    <th style="width: 8%;text-align: center">Views</th>
                                    <th style="width: 8%;text-align: center">Clicked </th>
                                    <th style="width: 8%;text-align: center">View template </th>
                                    <th style="width: 8%;text-align: center" class="thAction">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="msg">
                                    <td colspan="13" style="text-align: center">No Data Available</td>
                                </tr>
                                <tr *ngFor="let item of data | paginate: { itemsPerPage: rowsOnPage, currentPage: p}; let i = index" [attr.data-index]="i">
                                    <td>{{i+1}}</td>
                                    <td>{{item.startDate * 1000 | date}}</td>
                                    <td>{{item.endDate * 1000 | date}}</td>
                                    <td>{{item.sendOn | date}}</td>
                                    <td>{{item.campaignTitle}}</td>
                                    <td *ngIf="item.city == null">N/A</td>
                                    <td *ngIf="item.city != null">{{item.city}}</td>

                                    <td *ngIf="item.country == null">N/A</td>
                                    <td *ngIf="item.country != null">{{item.country}}</td>
                                    <td>
                                        <button class="button-cust" style="cursor: pointer;" type="button" (click)="gotoTargetedUser(item.campaignId)">{{item.targetUser.length}}</button>
                                    </td>
                                    <td *ngIf="item.viewCount == 0">
                                        <button class="button-cust" style="cursor: pointer;" type="button">{{item.viewCount}}</button>
                                    </td>
                                    <td *ngIf="item.viewCount != 0">
                                        <button class="button-cust" style="cursor: pointer;" type="button" (click)="gotoViewUser(item.campaignId)">{{item.viewCount}}</button>
                                    </td>
                                    <td *ngIf="item.clickCount == 0">
                                        <button class="button-cust" style="cursor: pointer;" type="button">{{item.clickCount}}</button>
                                    </td>
                                    <td *ngIf="item.clickCount != 0">
                                        <button class="button-cust" style="cursor: pointer;" type="button" (click)="gotoClickUser(item.campaignId)">{{item.clickCount}}</button>
                                    </td>
                                    <td>
                                        <button class="button-cust" type="button" (click)="getcampaignInfo(item.campaignId)">
                                            <i class="ion-eye fa-2x" style="cursor: pointer;"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <div class="btn-hover" *ngIf="btnFlag">
                                            <button data-toggle="modal" class="btn btn-danger btn-xs" (click)="gotoDelete(item._id)">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="100">
                                        <pagination-controls (pageChange)="p = $event" class="cursor-pointer float-right"></pagination-controls>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="template" tabindex="-1" role="dialog" aria-labelledby="modal-label">
    <div class="modal-dialog modal-sm">
        <div class="background_mockup" id="phone_mock">
            <img src="assets/img/users/mockup.png">
            <div id="all_content">
                <span id="close_button" (click)="closeModal()">
                    <a>X</a>
                </span>
                <div id="phone_content">
                    <div>
                        <div *ngIf="campaignInfo.imageUrl == null">
                            <span title="Click to upload image" data-toggle="modal" data-backdrop="false" style="cursor:pointer" data-target="#croppingBoxPush"
                                type="button">
                                <img src="assets/img/users/bg_img.png" id="content_img">
                            </span>
                        </div>
                        <div *ngIf="campaignInfo.imageUrl != null">
                            <span title="Click to upload image" data-toggle="modal" data-backdrop="false" style="cursor:pointer" data-target="#croppingBoxPush"
                                type="button">
                                <img src={{campaignInfo.imageUrl}} id="content_img">
                            </span>
                        </div>
                        <div data-toggle="modal" data-backdrop="false" data-target="#detailsBoxPush" style="padding:5px 17px;color:black;cursor:pointer">

                            <div>
                                <h1>{{campaignInfo.title}}</h1>
                                <p>{{campaignInfo.message}}</p>
                            </div>
                            <div>
                            </div>
                        </div>
                        <div *ngIf="campaignInfo.url == '' ">
                            <button id="more">KNOW MORE</button>
                            <button id="can">CANCEL</button>
                        </div>
                        <div *ngIf="campaignInfo.url != '' ">
                            <button id="more">
                                <a target="_blank" href={{campaignInfo.url}}>KNOW MORE</a>
                            </button>
                            <button id="can">CANCEL</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>