.marketingSearch {
    box-sizing: content-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 6px 20px 7px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.runCampBtn{
    float: right;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    padding: 6px 21px;
    cursor: pointer;
    color: #fff;
    background: #22A1E4;
    height: 30px;
}

.zeroPadding{
    padding: 0px !important;
}
.table {
    table-layout: fixed;
    word-wrap: break-word;
    width: 100%;
    text-align:center;
}
.custom{
    cursor: pointer;
    color: #22a1e4 !important;
}
.table td a.custom:hover {
    color: blue !important;
    text-decoration: underline !important;
}
.button-cust{
    background-color: transparent;
    border-color: transparent;
}
button.button-cust:hover {
    color: blue;
    text-decoration:underline;
}


.btn-hover
{
    display:inline-block;
    border:0;
    // width:196px;
    // height:210px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.btn-hover:hover
{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

#phone_mock {
    width: 300px;
    position: absolute;
    left: calc(50% - 135px);
    top: calc(50% - 100px);
}
#phone_content{
    position:relative
}
div#phone_content {
    position: absolute;
    top: calc(50% - 150px);
}
div#phone_content {
    position: absolute;
    top: calc(50% - 150px);
    width: 230px;
    height: 300px;
    margin-left: 23px;
        overflow: auto;
    background: white;
    border-radius: 5px;
    text-align: center
}

img#content_img {
    height: 140px;
    width: 230px;
}
div#phone_content h1 {
    font-size: 12px;
    font-weight: 600;
}
div#phone_content p {
    font-size: 10px;
}

div#phone_content button {
    position: absolute;
    bottom: 0px;
    padding: 5px;
    font-size: 10px;
    background: white;
    border: 1px solid #d2d2d2;
    cursor:pointer
}
button#more {
    position: absolute;
    left: 0px;
    width: 50%;
    display: block;
}
button#can {
    right: 0px;
    width: 50%;
    font-size: 10px;
    padding: 5px;
    display: block;
}
span#close_button a {
    background: white;
    text-decoration: none;
    color: #75c7ec;
    font-size: 10px;
    font-weight: 600;
}
span#close_button:hover {
    transform: rotate(360deg);
    border: 2px solid #046694;
    transition: all 200ms ease-in-out;
}
button#sendxx {
    position: absolute;
    bottom: 0px !important;
    width: 100%;
    left: 0;
}
span#close_button {
    position: absolute;
    right: 43px;
    text-decoration: none;
    top: calc(50% - 163px);
    background: white;
    padding: 5px 9px;
    border-radius: 50%;
    font-size: 10px;
    z-index: 99;
    border: 2px solid #92d3f1;
    cursor: pointer;
}
span#close_button a {
    background: white;
    text-decoration: none;
    color: #75c7ec;
    font-size: 10px;
    font-weight: 600;
}
span#close_button:hover {
    transform: rotate(360deg);
    border: 2px solid #046694;
    transition: all 200ms ease-in-out;
}